.side2 {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 20px;
  position: fixed;
  margin-top: 7vh;
  margin-left: 65vw;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon1 {
  border-radius: 50%;
  padding: 10px;
}
.icon1:hover {
  background-color: #e4e6e9;
}

.side2_icons {
  font-size: 23px;
  color: #5b626a;
}

.second {
  display: flex;
  gap: 20px;
  align-items: center;
}

.second,
.third {
  border-radius: 15px;
  border: none;
}

.second:hover,
.third:hover {
  background-color: #e4e6e9;
}

.side2_img {
  height: 30px;
  border-radius: 50%;
}

.bold_name {
  font-size: 20px;
  font-weight: 500;
}

.third {
  display: flex;
  justify-content: space-between;
}

.third_left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.p2 {
  color: #5b626a;
}
